@layer components {
  .c-section {
    padding: var(--pad-section);
    border-bottom: var(--border-width) solid var(--border);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }
}
